* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    background-color: #222957;
    position: relative;
    z-index: 1000;
}

.center-nav {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .logo img {
    height: 80px;
}

.logo-jpp {
    display: none;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    background-color: #222957;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.nav-links.show {
    display: flex;
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

.nav-links.hide {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.nav-links li {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #141831;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 0 20px; 
    width: 100%;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.nav-links li .dropdown-content {
    display: none;
    position: relative;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    opacity: 0;
    background-color: #1e244b;
    border-radius: 0 0 5px 5px;
    visibility: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    z-index: 999;
    text-align: center;
}

.dropdown.show .dropdown-content {
    display: block;
    max-height: 400px;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: #E76012;
    padding: 10px 0;
    text-align: center;
}

.dropdown.open {
    margin-bottom: 30px;
}

.dropdown-content li {
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #222957;
}

.dropdown-content a {
    color: #ffffff;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #222957;
}

.dropdown-content.show {
    display: flex;
    max-height: 400px;
    opacity: 1;
    visibility: visible;
}

.dropdown-content.hide {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.dropdown-content li a {
    font-size: 0.9em;
    color: #ffffff;
    text-decoration: none;
}

.dropdown-content li a:hover {
    color: #222957;
}

.dropdown.show > a {
    color: #E76012; 
}

.dropdown > a {
    position: relative; 
    color: #ffffff; 
}

.dropdown > a::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: 5px;
    transform: translateY(-50%); 
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff; 
    transition: transform 0.3s ease; 
}

.dropdown.show > a::after {
    transform: translateY(-50%) rotate(-90deg); 
}

.nav-links a:hover {
    color: #E76012;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
    z-index: 1001;
}

.menu-icon .line {
    width: 100%;
    height: 4px;
    background-color: white;
}

.menu-icon.open .line:nth-child(1) {
    transform: rotate(45deg) translateY(14.5px);
}

.menu-icon.open .line:nth-child(2) {
    transform: rotate(-45deg) translateY(-14.5px);
}

.menu-icon.open .line {
    background-color: rgb(255, 255, 255);
}


.banner {
    height: 60vh;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.banner img {
    height: auto;
    width: 90%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.banner-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
}

.banner button {
    font-size: 1.2em;
    padding: 10px 20px;
}

.content-section {
    flex-direction: column;
    padding: 20px;
}

.video-section iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.social-icons {
    gap: 20px;
}

.description {
    padding: 0;
    margin-top: 20px;
}

.description h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.description p {
    font-size: 0.7em;
}

.what-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d4d4d4;
}

.what-left {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.what-right {
    width: 100%;
    text-align: center;
    order: -1;
}

.what-left h2 {
    font-size: 2em;
    text-align: center;
}

.what-left ul {
    padding-left: 20px;
}

.what-left li {
    font-size: 0.9em;
    line-height: 1.5em;
}

.what-right img {
    width: 90%;
    height: auto;
    margin-left: 0%;
}

.gallery-section {
    padding: 20px;
    text-align: center;
}

.gallery-wrapper {
    flex-direction: column;
}

.gallery-row img {
    width: 70%;
}

.gallery-row-3 {
    display: none;
}

.leaders-section {
    padding: 20px;
    flex-direction: column;
}

.leaders-container {
    flex-direction: column;
    align-items: center;
}

.leaders-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.products-section {
    padding: 20px;
    font-size: 1.5em;
}

.product-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-box {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * 4);
}

.product-img {
    width: 100%;
    height: auto;
    min-width: 100%;
    flex-shrink: 0;
}

.sponsors-section {
    padding: 20px;
}

.sponsors-grid {
    grid-template-columns: repeat(2, 1fr);
}

.sponsors-grid img {
    width: 70px;
    height: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background-color: #222957;
    color: #ff6600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 10px;
}

body {
    padding-bottom: 7vh;
}

.countdown {
    flex-direction: row;
    gap: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.countdown-text-1 {
    display: none;
}

.countdown-item {
    font-size: 1em;
}

.countdown-item span:first-child {
    font-size: 2em;
}

.countdown-text-2 {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    gap: 10px;
}

footer button {
    font-size: 0.8em;
    padding: 8px 16px;
    margin-left: 10px;
}

.countdown {
    flex-direction: row;
    gap: 20px;
}

.countdown-item {
    font-size: 1.2em;
}

.countdown-item span:first-child {
    font-size: 2.5em;
}

.countdown-text-1, .countdown-text-2 {
    font-size: 1.5em;
    text-align: center;
}

footer button {
    font-size: 1em;
    padding: 12px 20px;
    white-space: nowrap;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    height: 500px;
}

.location-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location-image {
    width: 105%;
    height: auto;
    margin-bottom: 20px;
}

.location-text {
    margin: 0;
    padding: 20px;
    text-align: justify;
}

.map-box {
    margin-top: 20px;
    width: 100%;
}

.google-map {
    width: 100%;
    height: auto;
}

.ultimo-ovrflw {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 90%;
    height: auto;
    margin-bottom: 0px;
}

.rodape-desc {
    width: 80%;
    justify-content: center;
}

.partners-container h2 {
    font-size: 1.8em;
}

.flex-footer {
    display: flex;
    gap: 10%;
    width: 100%;
    justify-content: center;
}

.playlist-box {
    display: flex;
    flex-direction: column;
    margin-top: -450px;
}

.playlist-box h2 {
    font-size: 1.8em;
}

.playlist-box h4 {
    display: none;
}

.playlist-container {
    background-image: url(produtos-fundo.jpg);
    height: 970px;
    width: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    align-items: center;
}

.button-container img {
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

.section1 {
    background-image: url(fundo-mobile/1.jpg);
    width: auto;
    height: 500px;
}

.section2 {
    background-image: url(fundo-mobile/2.jpg);
    width: auto;
    height: 500px;
}

.section3 {
    background-image: url(fundo-mobile/3.jpg);
    width: auto;
    height: 500px;
}

.section1 p {
    display: none;
}

.section2 p {
    display: none;
}

.section3 p {
    display: none;
}
