* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    scroll-behavior: smooth;
}

.animated {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animated.animate {
    opacity: 1;
    transform: translateY(0);
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

body {
    font-family: Arial, sans-serif;
    background-color: #E76012;
    overflow-x: hidden;
}

.top-line {
    width: 100%;
    height: 5px;
    background-color: #E76012;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    position:relative;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222957;
    color: #E76012;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.493);
}

nav .logo img {
    height: 120px;
}

nav .logo-jpp img {
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    position: relative; 
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 10px;
    display: inline-block; 
}

.nav-links a:hover {
    color: #E76012;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: #ffffff; 
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0; 
    border: none; 
}

.dropdown-content li {
    margin: 0; 
    padding: 0; 
    border-bottom: 1px solid #ddd; 
}

.dropdown-content li:last-child {
    border-bottom: none; 
}

.dropdown-content a {
    color: #222957; 
    padding: 12px 16px; 
    display: block;
    transition: background-color 0.3s ease;
    text-align: center; 
    margin: 0; 
}

.dropdown-content a:hover {
    background-color: #E76012; 
    color: #ffffff; 
}

.nav-links li:hover .dropdown-content {
    display: block;
}

.center-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 200px);
    margin: 0 100px;
}

.banner {
    height: 615px;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

.banner img {
    height: 400px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.banner button {
    padding: 10px 20px;
    background-color: #ff6600;
    font-family: "Anton", sans-serif;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.9em;
    border-radius: 5px;
    letter-spacing: 0.05em;
    transition: transform 0.3s ease; 
}

.banner button:hover {
    transform: scale(1.1);
}

.banner-text {
    position: absolute;
    left: 70px; 
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    font-size: 4em;
    line-height: 1.2;
    color: #ffffff;
    text-align: left;
    line-height: 0.8em;
    margin-bottom: 50px;
}

.banner-text .orange {
    color: #ff6600; 
}

.banner-text .white {
    color: #ffffff; 
}

.banner-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-section {
    background-color: #ffffff;
    display: flex;
    padding: 50px;
    font-size: 1.8em;
    font-family: "Anton", sans-serif;
    color:#222957;
    padding-top: 200px;
    padding-bottom: 10px;
}

.content-section p {
    font-family: Arial, Helvetica, sans-serif;
    color:#141414;
    text-align: justify;
}

.description {
    justify-content: center;
    text-align: center;
}

.description img {
    height: 80px;
    justify-content: center;
}

.video-section {
    flex: 1;
    text-align: center;
}

.video-section iframe {
    border-radius: 15px;
    overflow: hidden;
}


.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.description {
    flex: 1;
    padding-left: 50px;
}

.description h2 {
    margin-bottom: 20px;
}

.description p {
    line-height: 1.6;
}

.what-section {
    background-image: linear-gradient(to bottom, #ffffff, #d4d4d4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 50px;
}

.what-left {
    padding-top:55px;
    flex: 1;
    text-align: center;
}

.what-left h2 {
    font-family: "Anton", sans-serif;
    font-size: 3em;
    letter-spacing: 0.3em;
    color:#E76012;
    margin-bottom: 20px;
}

.what-left ul {
    text-align:left;
    color: #E76012;
    font-size: 1em;
    list-style: disc;
    margin-bottom: 30px;
    padding-left: 10px;
}

ul li {
    padding-bottom: 10px;
}

.what-left li {
    line-height: 2em;
    color:#222957;
    font-size: 1.5em;
    font-weight: bolder;
}

.what-left li::marker {
    color: #E76012;
    font-size: 1.4em;
    
}

.what-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-right img {
    max-width: 100%;
    border-radius: 10px;
    height: 600px;
    margin-left: 30%;
}

.what-left button {
    padding: 10px 20px;
    background-color: #ff6600;
    font-family: "Anton", sans-serif;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2em;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.what-left button:hover {
    transform: scale(1.1);
}

.gallery-section {
    background-image: url('galeria-fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.ultimo-ovrflw {
    display: block;
    margin: 0 auto; 
    width: auto;
    max-width: 500px; 
    height: auto;
    margin-bottom: 0px;
}

.gallery-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.gallery-row {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
}

.gallery-row img {
    width: 25%;
    height: auto;
    padding: 5px;
    cursor: grab;
    border-radius: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.overlay .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.products-section {
    background-image: url('produtos-fundo.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    font-size: 2.5em;
    font-family: "Anton", sans-serif;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.2em;
}

.products-section h2 {
    padding-bottom: 20px;
}

.products-section button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 5px;
    font-family: "Anton", sans-serif;
    letter-spacing: 0.05em;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.products-section button:hover {
    transform: scale(1.1);
}

.highlight-orange {
    color: #ff6600;
}

.highlight-white {
    color: #ffffff;
}

.highlight-blue {
    color:#222957;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    height: 350px;
    margin: 0 auto;
}

.product-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    padding: 20px;
    align-items: flex-end;
}

@media (min-width: 769px) {
.product-img:not(:nth-child(2)):not(:nth-child(3)) {
    width: 280px;
    height: auto;
    cursor: pointer;
    transition: transform 0.7s ease, opacity 0.7s ease;
    border-radius: 10px;
}

.product-img:nth-child(2),
.product-img:nth-child(3) {
    display: none;
}
}

.product-img:first-child:hover {
    transform: scale(1.1); 
    content: url('camisetas/2.png');
}

.product-img:last-child:hover {
    transform: scale(1.1);
    content: url('camisetas/3.png');
}

@media (max-width: 768px) {
    .product-box {
        flex-direction: column;
        gap: 20px;
    }

    .product-img {
        width: 90%;
    }
}

.guests-section {
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
    background-image: url('branco-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.guests-section h2 {
    font-family: "Anton", sans-serif;
    font-size: 2.8em;
    color:#222957;
    margin-bottom: 40px;
}

.guests-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.guest-box {
    width: 300px;
    background-color: #222957;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.guest-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.guest-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.guest-image:hover img {
    transform: scale(1.1);
}

.guest-info {
    background-color: #222957;
    padding: 20px;
    text-align: left;
}

.guest-info h3 {
    font-size: 1.5em;
    font-family: "Anton", sans-serif;
    letter-spacing: 0.05em;
    color: #E76012;
    margin-bottom: 10px;
}

.guest-info p {
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
}

.guest-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.guest-social a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.guest-social a img {
    width: 20px;
    height: 20px;
}

.guest-social a span {
    font-size: 1em;
}

.guest-social a:hover {
    color: #E76012;
}

.guest-social a:visited {
    color: #ffffff;
}

.guest-social a:focus,
.guest-social a:active {
    text-decoration: none;
    color: #ffffff;
}

.sponsors-section {
    background-image: url('fundo-map.jpg');
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
}

.sponsors-section h2 {
    color: #222957;
    font-family: "Anton", sans-serif;
    font-size: 2.8em;
    margin-bottom: 40px;
    letter-spacing: 0.1em;
}

.sponsors-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.sponsors-grid img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.sponsors-grid a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.sponsors-section a:hover {
    transform: scale(1.1);
}

.sponsors-section button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
    font-family: "Anton", sans-serif;
    letter-spacing: 0.05em;
    transition: transform 0.3s ease;
}

.sponsors-section button:hover {
    transform: scale(1.1);
}

.final-section {
    padding: 30px;
    text-align: center;
    background-color: #222957;
    margin-bottom: 120px;
}

.final-section img{
    height: 140px;
}

.final-section .social-icons {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.final-section .social-icons img {
    width: 35px;
    height: 35px;
}

.final-section p{
    color: #ffffff;
    margin-top: 40px;
    font-size: 0.7em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222957;
    color: #ff6600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    gap: 70px;
}

.countdown {
    font-family: "New Amsterdam", sans-serif;
    display: flex;
    gap: 50px;
    font-size: 0.8em;
    color: #ffffff;
}

.countdown-item {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 3px
}

.countdown-item span:first-child {
    font-size: 3.5em;
    display: block;
    font-weight:bold;
}

.countdown-text-1 {
    font-family: "Anton", sans-serif;
    text-align: center;
    font-size: 2.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    letter-spacing: 1px
}

.countdown-text-2 {
    font-family: "Anton", sans-serif;
    text-align: justify;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    line-height: 0.8em;
    letter-spacing: 1px
}

footer button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    font-family: "Anton", sans-serif;
    letter-spacing: 0.05em;
    transition: transform 0.3s ease;
}

footer button:hover {
    transform: scale(1.1);
}

.leaders-section {
    background-image: url('branco-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaders-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.leaders-image img {
    width: 400px;
    height: 600px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 20px;
}

.leaders-content h2 {
    font-family: "Anton", sans-serif;
    font-size: 2em;
    color: #222957;
    margin-bottom: 10px;
}

.leaders-content p {
    font-family: Arial, sans-serif;
    color: #141414;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
}

button a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

button a:visited {
    color: inherit;
}

.event-location {
    margin: 0px auto;
    text-align: center;
    background-color: #ffffff;
    color:#222957;
    padding-bottom: 0px;
}

.location-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-image {
    width: 600px;
    height: 400px;
    margin-right: 20px;
}

.location-text {
    flex-grow: 1;
    text-align: justify;
    margin-right: 20px;
    font-weight:bolder;
}

.location-text h2{
    font-family: "Anton", sans-serif;
    letter-spacing: 0.1em;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.map-box {
    background-color:#222957;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
}

.map-container h2{
    font-family: "Anton", sans-serif;
    letter-spacing: 0.1em;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.location-title {
    text-align: center;
    margin-bottom: 10px;
}

.location-address {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.map-container {
    background-color: #ffffff;
    background-image:url(branco-2.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center;
    width: 100%;
    height: 600px;
    margin: auto;
    color:#ffffff;
    padding: 20px;
}

.google-map {
    width: 1100px;
    height: 250px;
    border: 0px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.partners-container {
    background-color: #ffffff;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 10px;
    }

    .countdown {
        justify-content: center;
    }

    .countdown-item {
        font-size: 1em;
    }

    .countdown-item span:first-child {
        font-size: 1.5em;
    }
}

.flex-footer {
    display: flex;
    gap:75px;
}
.playlist-container {
    position: relative;
    display: center;
    align-items: center;
    width: 100vw;
    height: calc(100vw * 1360 / 1920);
    background-image: url('playlist-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    padding-top: 475px;
}

.playlist-box {
    bottom: 200px;
    background-color: #ffffff;
    display: flex;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 93%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.photo {
    flex: 1;
    display: center;
    justify-content: center;
    padding-right: 20px;
    margin-left: 20px;
}

.photo img {
    width: 275px;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}


.playlist-content h2 {
    margin-top: 10px;
    font-size: 40px;
    color: #222957;
    font-weight: bolder;
}

.playlist-content h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #222957;
}

.playlist-content p {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: #222957;
    word-wrap: break-word;
    text-align: justify;
}

.button-container {
    display: flex;
    gap: 15px;
}

.icon-button {
    background-color: #ff6600;
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: transform 0.1s;
}

.icon-button img {
    display: block;
    width: 100%;
    max-width: 110px;
    height: auto; 
}

.icon-button:hover {
    transform: scale(1.1);
    background-color: #ff7418;
}

.what-section-2 img{
    width: 100%;
    height: auto;
}

.section1 {
    background-image: url(Abertura/1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: block;
    padding-top: 27.5%;
}

.section2 {
    background-image: url(Abertura/2.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    padding-top: 27.5%;
}

.section3 {
    background-image: url(Abertura/3.jpg);
    background-size: cover;
    display: block;
    background-position: center;
    width: 100%;
    padding-top: 27.5%;
}

.section1 p{
    font-family: "Anton", sans-serif;
    font-size: 1.5em;
    color:#ffffff
}

.section2 p{
    font-family: "Anton", sans-serif;
    font-size: 1.5em;
    color: #000000;
}

.section3 p{
    font-family: "Anton", sans-serif;
    font-size: 1.5em;
    color: #ffffff;
}

.what-section-2 p{
    height: auto;
}
